<nav class="navbar">
    <img class="logo" src="http://placehold.it/330x45">
    <ul class="navbar__item navbar__item--left">
      <li>
          <a class="navbar__link" href="menu.html">Menu</a>
      </li>
    </ul>
    <ul class="navbar__item navbar__item--right">
        <li>
            <a href="#">User</a>
        </li>
        <li>
            <img class="avatar" src="http://placehold.it/80x80">
        </li>
    </ul>
    <ul class="navbar__item navbar__item--right">
        <li>
            <a href="#">User</a>
        </li>
        <li>
            <img class="avatar" src="http://placehold.it/80x80">
        </li>
    </ul>
</nav>
